* {
    font-family: Tahoma Regular;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
}
.box1, .box2, .box3 {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    align-items: center;
    padding: 0 20px;
    max-width: 30%;
}
.icon_ {
    display: flex;
    height: 70px;
    width: 70px;
    border: 2px solid #ff8b38;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #ff8b38;
}
.topic_box {
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 0;
    font-family: "Tahoma Regular";
    color: rgb( 33, 33, 33 );
    align-items: center;
}

h1 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 36px;
}
.line_1 {
    height: 2px;
    width: 64px;
    /* margin: 10px; */
    border: 1px solid #ff8b38;
    margin: 25px 0 25px 0;
}
p {
  font-size: 14px;
  color: rgb( 134, 135, 139 );
  line-height: 1.429;
  text-align: center;
}
.subtopic {
  font-size: 20px;
  color: rgb( 51, 51, 51 );
  padding: 30px 0 30px 0;
}
.under_topic {
    padding-bottom: 80px;
}

@media screen and (max-width:576px) { 
    .boxes {
        flex-direction: column;
    }
    .topic_box {
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
   .box1, .box2, .box3 {
       max-width: 100%;
       padding-bottom: 50px;
   }

}