* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box_ {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    border: 3px solid orange;
    background-color: rgb(28, 9, 110);
    color: white;
    padding: 20px 0;
    max-width: 25%;
}
.container_ {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    
}

@media screen and (max-width:576px) {
    .container_ {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 0 30px 0;
        padding: 0;
    }
    .box_ {
        max-width: 100%;
        display: flex;
        padding: 25px 0;
    }
}