* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.header {
  width: 100%;
  padding: 25px 0;
  background-color: rgb(3, 200, 214);
}
.container {
  display: flex;
}
.item {
  padding-left: 50px;
  color: white;
  text-align-last: left;
  display: flex;
}
i.fa {
  font-size: 50px;
  display: block;
  /* word-wrap: break-word; */
}
.text {
  font-size: 10px;
  text-transform: uppercase;
  /* padding: 5px; */
  flex-wrap: nowrap;
}
.r2 {
  padding: 5px;
  padding-left: 22px;
  display: flex;
  flex-direction: column;
}
.num {
  margin-bottom: 5px;
  font-weight: bold;
}

@media screen and (max-width:576px) { 
  .container {
    max-width: 100%;
    flex-direction: column;
  }
}