*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    border: 1px solid;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}
.image_ img{
    height: 200px;
    width: auto;
}
.container3 a {
    border: 1px solid white;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    /* vertical-align: middle; */
    /* padding-top: 10px; */
    background-color: rgb(6, 187, 148);
    color: white;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-decoration: none;
}
.container2 {
    max-width: 34%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: #5e5e5e;
    line-height: 30px;
}

.container3 {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    justify-content: flex-end;
}
h1 {
    font-weight: normal;
}

.container3 :hover {
    background-color: white;
    color:rgb(6, 187, 148);  
    border-color:rgb(6, 187, 148);
}

@media screen and (max-width:576px) { 
  .box {
      display: flex;
      flex-direction: column;
      align-items: center
  }
  .container1 {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
  }
.container2 {
    display: flex;
    max-width: 100%;
    width: 80%;
    margin-bottom: 20px;
}
.container3 {
        display: flex;
    flex-direction: row;
    margin-left: 60px;
    justify-content: space-between;
    width: 30%;
    margin: 0;
}
}
    
